/** brand_styles.scss **/
/**		main styles for the ign brand guidelines app		**/

/** base style rules **/
$lightGrey: #e5e5e5;
$ign_entertainment-red: #D51D29;
$ign_dark-red: #BA061E;
$drop_shadow: #111111;


@font-face {
	font-family: 'galaxie-light';
	src: url('fonts/GalaxiePolaris-Book.eot');
	src: local('☺'), url('../fonts/GalaxiePolaris-Book.woff') format('woff'), url('../fonts/GalaxiePolaris-Book.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 


@font-face {
	font-family: 'galaxie-bold';
	src: url('fonts/GalaxiePolaris-Bold.eot');
	src: local('☺'), url('../fonts/GalaxiePolaris-Bold.woff') format('woff'), url('../fonts/GalaxiePolaris-Bold.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'galaxie-book';
	src: url('fonts/GalaxiePolaris-Book.eot');
	src: local('☺'), url('../fonts/GalaxiePolaris-Book.woff') format('woff'), url('../fonts/GalaxiePolaris-Book.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'galaxie-medium';
	src: url('fonts/GalaxiePolaris-Medium.eot');
	src: local('☺'), url('../fonts/GalaxiePolaris-Medium.woff') format('woff'), url('../fonts/GalaxiePolaris-Medium.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #D52029;

	&:hover {
		color: #6E0910;
	}

	&:visited {
		color: #D52029;
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.hidden {
	display: none;
}



/** end base styles**/
html {
	height: 100%;
	background: transparent url(../images/shattered.png) repeat 0 0;
	background-attachment: fixed, fixed;
}

body {
	background-color: transparent;
}

#desktop-logos {
	.row {
		margin: 30px auto;
	}
}

#desktop-logos .break_open {
	.row {
		margin: 0px auto;
	}
}

.twelve .format_container {
	width: 27%;
}

.twelve .bounding-box img {
	width: 70%;
}

.six .logo_container .format_container .font_name {
	font-size: 18px;
	line-height: 25px;
} 

.logo_container {	
	height: 225px;
	background-color: white;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.6);

	background: white url(../images/fold_right.png) bottom right no-repeat;
	overflow: hidden;

	&.hover {
		cursor: pointer;
	}

	p {
		color: black;
		font-family: galaxie-bold;
		margin: 20px 5px 0px;
		padding-bottom: 0px;
		font-size: 11px;
	}


	.bounding-box {
		height: 100%;
		padding: 25px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		&.black {
			background-color: black;
		}
		&.white {
			background-color: white;
		}

		img {
			width: 45%;
			float: right;
		}
	}
	.formats {
	 	height: 30px;
	}

	&.switch {
		.format_container {
			right: 15px;
			border-left: 1px solid #D3D3D3;

			-webkit-border-top-right-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;

			-webkit-border-top-left-radius: 0px;
			-webkit-border-bottom-left-radius: 0px;
			-moz-border-radius-topleft: 0px;
			-moz-border-radius-bottomleft: 0px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		img {
			float: left;
		}
	}

	.format_container {
		width: 45%;
		z-index: 999;
		position: absolute;
		height: 100%;
		background-color: #181818;
		padding: 0px 8px;
		top: 0px;
		cursor: pointer;
		border-right: 1px solid #D3D3D3;

		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		background-image: linear-gradient(bottom, rgb(234,234,234), rgb(202,202,202));
		background-image: -o-linear-gradient(bottom, rgb(234,234,234), rgb(202,202,202));
		background-image: -moz-linear-gradient(bottom, rgb(234,234,234), rgb(202,202,202));
		background-image: -webkit-linear-gradient(bottom, rgb(234,234,234), rgb(202,202,202));
		background-image: -ms-linear-gradient(bottom, rgb(234,234,234), rgb(202,202,202));

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.67, rgb(234,234,234)),
			color-stop(0, rgb(202,202,202))
		);
		 
		.font_name {
			font-family: galaxie-light;
			font-size: 26px;
			padding: 5px;
			text-align: left;
			line-height: 32px;
			color: black;
			height: 100px;
		}
	}
}

a.circle {
	font-family: galaxie-book;
	float: left;
	display: block;
	margin: 0px 2px;
	text-align: center;
	line-height: 11px;
	font-size: 11px;
	color: black;
	text-transform: uppercase;
	padding: 5px 0px 0px 3px;
}

.shadow_fold {
	background: $lightGrey url(../images/shadow_bottom.png) bottom right no-repeat;
	height: 7px;
	margin-bottom: 22px;
}

header {
	color: white;
	padding-bottom: 10px;

	height: auto;
	border-bottom: 2px solid white;

	background: black url(../images/twinkle_twinkle.png) top left repeat;

	h1 {
		font-family: galaxie-bold;
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 0px;
		color: white;
		text-shadow: 0px 0px 2px $drop_shadow;

		span.red {
			color: $ign_entertainment-red;
		}

	}

	h2 {
		font-family: galaxie-light;
		color: white;
		font-size: 44px;
		margin-top: 0px;
		text-shadow: 0px 0px 5px $drop_shadow;
	}

	#menu {
		list-style: none;
		margin: 0px auto;
		width: 185px;

		li {
			float: left;
			padding: 5px 10px;
			width: 80px;
			margin-right: 10px;
			text-align: center;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;

			&:hover {
				background-color: #111111;
			}

			&.right {
				float: right;
				margin-right: 0px;
			}

			a {
				color: white;
				font-family: galaxie-bold;
				font-size: 11px;
				text-align: center;

				text-shadow: 0px 0px 5px black;
			}

			&.active {
				background-color: #0f0f0f;
				-moz-box-shadow: inset 0 0 20px #000;
				-webkit-box-shadow: inset 0 0 20px #000;
				box-shadow: inset 0 0 20px #000;
			}
		}
	}

	.top-bar {
		background-color: #000000;
	}
}

.buttons_container.guidelines {

	float: right;
	margin-top: 50px;

	li {
		margin-bottom: 10px;
		list-style: none;
		display: block;
		height: 40px;

		a {
			width: 90%;
			height: 40px;
			overflow: hidden;
			font-size: 12px;
			font-family: galaxie-medium;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background-color: $ign_dark-red;
			border: none;
			-moz-box-shadow: 0 0 10px $drop_shadow;
			-webkit-box-shadow: 0 0 10px $drop_shadow;
			box-shadow: 0 0 10px $drop_shadow;
			float: right;
			line-height: 20px;

			span.text {
				display: block;
			}

			span.rotate {
				width: 30%;
				height: 80px;
				display: block;
				float: left;
				background-color: $ign_entertainment-red;
				-moz-transform: rotate(24deg);
				-webkit-transform: rotate(24deg);
				-o-transform: rotate(24deg);
				margin-left: -30px;
				margin-top: -30px;
				margin-right: 10px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;

				-moz-box-shadow: 0 0 3px #840012;
				-webkit-box-shadow: 0 0 3px #840012;
				box-shadow: 0 0 3px #840012;

				.arrow-down {
					width: 25px;
					height: 27px;
					background: transparent url(../images/arrow_down.png) bottom center no-repeat;
					margin: 24px 0px 0px 3px;
					-moz-transform: rotate(-24deg);
					-webkit-transform: rotate(-24deg);
					-o-transform: rotate(-24deg);
					font-size: 10px;
					text-align: center;
					display: inline-block;
				}
			}
		}
	}

	&.grey {
			margin-top: 20px;

		a {
			background-color: #4E4E4E;

			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;

			span.rotate {
				background-color: #383838;


				-moz-box-shadow: 0 0 3px #000;
				-webkit-box-shadow: 0 0 3px #000;
				box-shadow: 0 0 3px #000;
			}
		}
	}
}

.break_open {
	height: auto;
	background-color: white;
	border-top: 1px solid #999999;
	margin: 20px 0px 0px;
} 

p.question {
	font-size: 11px;
	text-align: center;
	font-family: galaxie-medium;
	margin: 20px auto 0px;
	width: 170px;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
}

span.arrow_down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #FFFFFF;
	display: block;
	margin: 0px auto 15px;
}

h3 {
	font-family: galaxie-light;
	color: black;
	margin: 20px 0px 30px;
}

h4, h5 {
	font-family: galaxie-light;
	margin-top: 10px;
}

.five h5 {
	margin-left: 28px;
}

/**footer styles**/
footer {
	height: auto;
	background: black url(../images/twinkle_twinkle.png) top left repeat;
	border-top: 2px solid white;
}

/**ios slider styles**/

.containerOuter {
	position: absolute;
	left: 0;
	right: 0;
	height: 260px;
	overflow: hidden;
}

.container {
	position: relative;
	width: 100%;
	height: 260px;
	margin: 0 auto;
	overflow: visible;
}

.container .iosSliderContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 260px;
	margin: 0 0 0 0;
	overflow: visible;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: visible;
	width: 100%;
	height: 260px;
}

.iosSlider .slider {
	width: 10000px;
	height: 100%;
}

.iosSlider .slider .item {
	float: left;
	width: 300px;
	height: 100%;
	padding-right: 20px;

	&.hover {
		cursor: pointer;
	}
}

.holding {
	height: 330px;
}

/**download button**/

.download_btn {
	text-align: center;
	font-size: 12px;
	text-shadow: 0px 1px 3px #000;
	font-family: galaxie-medium;
	display: block;
	width: 95%;
	margin:	0px auto 0px;
	color: #999999;
	padding: 13px 0px;
	line-height: 18px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-image: linear-gradient(bottom, rgb(23,23,23) 0%, rgb(43,43,43) 100%);
	background-image: -o-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(43,43,43) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(43,43,43) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(43,43,43) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(43,43,43) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(23,23,23)),
		color-stop(1, rgb(43,43,43))
	);

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);

	&:hover {
		color: white;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	&:active {
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	}

}

#myModal {
	z-index: 999;

	.row {
		margin-top: 0px;
	}

	img {
		margin: 0px auto;
		display: block;
	}

	.guidelines {
		float: none;
	}

	&.black {
		background-color: white;
		color: white;

		h3, h5 {
			color: #222222;
		}
	}


	&.black {
		background-color: black;
		color: white;

		h3, h5 {
			color: white;
		}
	}
}

.reveal-modal.medium {
	width: 46%;
	margin-left: -22.5%;

	a.circle {
			height: 60px;
			width: 60px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			background-color: none;
			float: left;
			display: block;
			margin: 0px 2px;
			text-align: center;
			line-height: 11px;
			font-size: 11px;

			&.psd {
				border-size: 4px;
			}

			&.ai {
				border-size: 4px;
			}

			&.epg {
				border-size: 4px;
			}
		}
}
/**end download button**/


/** colours for logo background**/
/**affiliated styles**/
.push-bottom {
	margin-bottom: 25px;
}

.image-push {
	margin-top: 15px;
}

.white-bg {
	background-color: white;
	padding: 15px;
	margin-bottom: 25px;
}
.black-bg {
	background-color: black;
	padding: 15px;
	margin-bottom: 25px;
}
.grey-bg {
	background-color: #BBBDC0;
	padding: 15px;
	margin-bottom: 25px;
}
/**end colours for logo backgrounds**/


/**inputs**/
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	background-color: black;
	font-family: inherit;
	border: 1px solid white;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: white;
}

label {
	color: white;
	font-size: 13px;
	margin: 15px 0px 10px;
}

footer h3 {
	color: white;
}

footer p {
	color: white;
}
/**end inputs**/

#view {
	display: none;
}

#menu.mobile {
	display: none;
}

#menu.desktop {
	display: block;
}

@media only screen and (max-width: 767px) {
  header .buttons_container.guidelines li a,
  #myModal .row .buttons_container li a {
    float: none;
    display: block;
    margin: 0 auto;
  }

  #myModal {
  	padding: 0px;

  	h3 {
  		padding: 0px 20px;
  	}
  }

   #myModal .seven {
   	display: none;
   }
  
  #myModal p.long-form {
    display: none;
  }

   #desktop-logos {
  	display:none;
  }

  #view {
  	display: block;
  }
  
}

@media only screen and (max-width: 900px) {

  #desktop-logos {
  	display: none;
  }

  #view {
  	display: block;
  }

  .logo_container .format_container {
  	display: none;
  }

  .logo_container .bounding-box img {
  	width: 100%;
  }

  .reveal-modal.large {
	width: 80%;
	margin-left: -40%;
  }

  #menu.mobile {
  	display: block;
  }

  #menu.desktop {
  	display: none;
  }

}




/**spinning logos

.brand .four {
	-webkit-perspective: 1600px;
}

.card {
  width: 270px;
  height: 250px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;

  .item {
  	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
  }

	 .front {
	 }
	 .back {
	  -webkit-transform: rotateY( 180deg );
	}

	&.flipped {
	  -webkit-transform: rotateY( 180deg );
	}
}

end spinning logos**/

/**overlay styles**/
.reveal-modal-bg {
	z-index: 999;
}

#myModal {
	z-index: 9999;
}
/**end overlay styles**/

/**ign header**/

#ignHeader {

  .fixed {
  	position: relative;
  }

  #ignHeader-userBar {

  	background-color: black;
  	border-bottom: 1px solid #333;

    height: 45px;

    -moz-box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0px 5px 3pxrgba(0, 0, 0, 0.6);
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.6);

    #ignHeader-logo {
      background: url(../images/ign_logo.png) no-repeat center 10px;
      height: 50px;
      width: 100%;
      display: block;
    }
  }

}

/**end ign header**/

/**ign footer**/
.top {
	position: absolute;
	left: 50%;
	bottom: 80px;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: #000;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476,sizingMethod='auto expand');
	zoom: 1;
	z-index: 999;
}

.top a {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 70%;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	border: 0;
	text-shadow: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476,M12=0.7071067811865475,M21=-0.7071067811865475,M22=0.7071067811865476,sizingMethod='auto expand');
	zoom: 1;


}

.ign-elements {
  background-color: black;
  border-top: 1px solid #333;
  margin-top: 40px;

  position: relative;
  width: 100%;
  bottom: 0;
  height: 105px;
  padding: 28px 0px 2px;

  p {
    color: white;
    font-size: 12px;
  }

  a {
    color: #999;
  }

  .row {
      background: url(../images/home-page-logos.png) no-repeat center -142px;
  }
}

p.corp-terms {
  display: block;
  height: 50px;
  padding: 5px 0 0 75px;
  margin: 0px;
  background: url(../images/ign_logo-sprite.png) no-repeat -7px 0px;
  text-align: left;
}

p.corp-links {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 0 10px 0 0;
  text-align: right;
}
/**end ign footer**/
