<!-- <h1 ng-click="clickHandler(event)" ng-controller="PreloaderController">
	Loading, please wait...still loading {{percentCompleted}}%
</h1> -->

<article cool-fade>
		<section class="holding">
			<div class="row">
				<div class="twelve columns">
					<h3>ASKMEN LOGOS</h3>
				</div>
			</div>

			<div class = 'containerOuter'>
		
			<div class = 'container'>
				
				<div class = 'iosSliderContainer'>
					
					<div class = 'iosSlider'>
					
						<div class = 'slider'>
						
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/am_icon-logos/AM-for-White-BG.jpg" alt="AM For White BG">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO FOR USE ON A WHITE BACKGROUND</div>
										<div class="formats">
											
											<a href="#" class="circle epg">jpg</a>
										</div>

										<div class="download_btn" data-number="9">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>

							<!--not sure what this should be-->
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/am_icon-logos/AM-with-Strap-for-White-BG.jpg" alt="AM With Strap For White BG">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO WITH STRAPLINE FOR USE ON A WHITE BACKGROUND</div>

										<div class="formats">
											
											<a href="#" class="circle epg">jpg</a>
										</div>

										<div class="download_btn" data-number="10">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							<!--end unsure item-->
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/am_icon-logos/AM-with-Strap-for-White-BG.jpg" alt="AM With Strap For White BG">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO WITH STRAPLINE FOR USE ON A WHITE BACKGROUND</div>

										<div class="formats">
											
											<a href="#" class="circle epg">jpg</a>
										</div>

										<div class="download_btn" data-number="11">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/am_icon-logos/AskMen-on-Black-BG.jpg" width="200" height="52" alt="AskMen On Black BG">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO FOR USE ON A BLACK BACKGROUND</div>

										<div class="formats">
											
											<a href="#" class="circle png">Png,</a>
											<a href="#" class="circle epg">jpg,</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="12">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/am_icon-logos/AskMen-Logo-for-Black-BG-No-Strap.jpg" width="200" height="44" alt="AskMen Logo For Black BG No Strap">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO FOR USE ON A BLACK BACKGROUND, NO STRAPLINE</div>

										<div class="formats">
											
											<a href="#" class="circle png">Png,</a>
											<a href="#" class="circle epg">Jpg,</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="13">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/am_icon-logos/AskMen-for-White-BG.jpg" alt="AskMen For White BG">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO FOR USE ON A WHITE BACKGROUND</div>

										<div class="formats">
											
											<a href="#" class="circle png">Png,</a>
											<a href="#" class="circle epg">Jpg</a>
	                    					<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="14">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/am_icon-logos/AskMen.com-Logo-for-White-BG-No-Strap.jpg" alt="AskMen.Com Logo For White BG No Strap">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN.COM LOGO FOR WHITE BACKGROUND</div>

										<div class="formats">
											
											<a href="#" class="circle psd">Png,</a>
											<a href="#" class="circle epg">Jpg,</a>
											<a href="#" class="circle ai">Ai,</a>
											<a href="#" class="circle eps">Eps</a>
										</div>

										<div class="download_btn" data-number="15">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
						
						</div>
					
					</div>
					
				</div>
			
			</div>
	</section>

	<section class="break_open">
		<div class="row">
			<div class="eight columns">
				<h3>QUICK TIPS ON ASKMEN UK LOGO USAGE</h3>
			</div>
			<ul class="buttons_container guidelines four columns grey">
				<li><a class="button"><span class="rotate"><div class="arrow-down">20kb</div></span>ASKMEN GUIDELINES</a></li>
			</ul>
		</div>
		<div class="row push-bottom">
			<div class="six columns">
				<h4>Color</h4>
				<p>Always use the full color version of the IGN.com logo when possible.
Use the grayscale or monochromatic logo when production dictates.</p>
			</div>
			<div class="six columns">
				<img src="images/AskMen_white_BG.jpg" class="image-push">
			</div>
		</div>
		<div class="row push-bottom ">
			<div class="six columns">
				<img src="images/askmen_clear_space.png" class="image-push">
			</div>
			<div class="six columns">
				<h4>Clear Space</h4>

				<p>Clear space is the minimum
					“breathing room” maintained
					around the brandmark. it
					should be kept free of graphics,
					text and other marks. it also
					defines the minimum distance
					from the brandmark to the edge
					of a printed piece / web frame.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Size of the AskMen Logo</h4>
				<p>Depending on usage, the size
					of the logo will change. The
					logo should be sized for clear
					legibility with the minimum
					amount of white space around
					it. This will often be more visually
					appealing than a logo that
					is sized too large for the space
					available, making it cluttered
					and harder to read. Let good
					taste be your guide when sizing
					the AskMen logo.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Backgrounds</h4>
			</div>
		</div>


		<div class="row">
			<div class="four columns">
				<img src="images/AskMen_white_BG.jpg">
			</div>
			<div class="four columns">
				<img src="images/AskMen_red_BG.jpg">
			</div>
			<div class="four columns">
				<img src="images/AskMen_black_BG.jpg">
			</div>
		</div>

	</section>

</article>



