<!-- <h1 ng-click="clickHandler(event)" ng-controller="PreloaderController">
	Loading, please wait...still loading {{percentCompleted}}%
</h1> -->

<article cool-fade>
		<section class="holding">
			<div class="row">
				<div class="twelve columns">
					<h3>IGN LOGOS</h3>
				</div>
			</div>

			<div class = 'containerOuter'>
		
			<div class = 'container'>
				
				<div class = 'iosSliderContainer'>
					
					<div class = 'iosSlider'>
					
						<div class = 'slider'>
						
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/icon_logos/IGN-Editors-Choice-Logo.jpg" alt="IGN Editors Choice Logo">
									</div>

									<div class="format_container">
										<div class="font_name">IGN EDITORS CHOICE LOGO</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="0">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>

								
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/icon_logos/IGN-Ent-Logo.jpg" alt="IGN Ent Logo">
									</div>

									<div class="format_container">
										<div class="font_name">IGN ENTERTAINMENT LOGO ON A WHITE BACKGROUND</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
	                    <a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="1">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/icon_logos/IGN_First_Look_on_Black-sml.png" alt="IGN First Look On Black Sml">
									</div>

									<div class="format_container">
										<div class="font_name">IGN FIRST LOOK LOGO ON A BLACK BACKGROUND</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="2">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/icon_logos/IGN-First-Look-on-White.jpg" alt="IGN First Look On White">
									</div>

									<div class="format_container">
										<div class="font_name">IGN FIRST LOOK LOGO ON A WHITE BACKGROUND</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="3">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/icon_logos/IPL-Crest-Logo-for-Dark-BG.jpg" alt="IPL Crest Logo For Dark BG">
									</div>

									<div class="format_container">
										<div class="font_name">IPL CREST LOGO FOR DARK BACKGROUNDS</div>
										<div class="formats">
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle psd">Psd</a>
										</div>

										<div class="download_btn" data-number="4">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/icon_logos/IGN-Live-Logo.jpg" alt="IGN Live Logo">
									</div>

									<div class="format_container">
										<div class="font_name">IGN LIVE LOGO</div>
										<div class="formats">
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle psd">Psd</a>
										</div>

										<div class="download_btn" data-number="5">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>

								
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/icon_logos/IGN-Logo-for-Dark-BG-JPEG.jpg" alt="IGN Logo For Dark BG JPEG">
									</div>

									<div class="format_container">
										<div class="font_name">IGN LOGO FOR DARK BACKGROUNDS</div>
										<div class="formats">
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="6">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>

								
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box white">
										<img src="images/logos/icon_logos/IGN-Logo-for-White-BG.jpg" alt="IGN Logo For White BG">
									</div>

									<div class="format_container">
										<div class="font_name">IGN LOGO FOR WHITE BACKGROUND</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
											<a href="#" class="circle epg">Jpg</a>
											<a href="#" class="circle ai">Ai</a>
											<a href="#" class="circle eps">Eps</a>
										</div>

										<div class="download_btn" data-number="7">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>

								
							</div>
							
							<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/icon_logos/IGN_Dark_BG.jpg" alt="IGN Dark BG">
									</div>

									<div class="format_container">
										<div class="font_name">IGN LOGO FOR USE ON DARK BACKGROUNDS</div>
										<div class="formats">
											<a href="#" class="circle png">Png</a>
										</div>

										<div class="download_btn" data-number="8">CLICK FOR DETAILS AND DOWNLOAD OPTIONS</div>
									</div>
								</div>
							</div>
						
						</div>
					
					</div>
					
				</div>
			
			</div>
	</section>

	<section class="break_open">
		<div class="row">
			<div class="eight columns">
				<h3>QUICK TIPS ON IGN LOGO USAGE</h3>
			</div>
			<ul class="buttons_container guidelines four columns grey">
				<li><a class="button"><span class="rotate"><div class="arrow-down">20kb</div></span>IGN GUIDELINES</a></li>
			</ul>
		</div>
		<div class="row push-bottom">
			<div class="six columns">
				<h4>Color</h4>
				<p>Always use the full color version of the IGN.com logo when possible.
Use the grayscale or monochromatic logo when production dictates.</p>
			</div>
			<div class="six columns">
				<img src="images/ign_color-usage.png" class="image-push">
			</div>
		</div>
		<div class="row push-bottom ">
			<div class="six columns">
				<img src="images/clear_space.png" class="image-push">
			</div>
			<div class="six columns">
				<h4>Clear Space</h4>

				<p>In order to gain maximum visibility, the IGN logo should always appear with the minimum area of clear space around the logo. This space is determined by “x”, illustrated in the diagram.</p>

<p>This area should be free of any type or graphic elements.</p>

<p>When executing online applications, where space is limited, the clear space may be reduced to 75% of “x”.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Backgrounds</h4>
				<p>The IGN logo should only be placed on neutral colored backgrounds. This will allow the brand to remain visually intact even if it is surrounded by multiple third party entities or other properties. It is also recommended to not put the logo on a red background.</p>
				<p>The logotype itself may only exist in white or black depending on the
				chosen background.</p>
			</div>
		</div>


		<div class="row">
			<div class="four columns">
				<div class="black-bg">
					<img src="images/ign_backgrounds-img.png">
				</div>
			</div>
			<div class="four columns">
				<div class="white-bg">
					<img src="images/IGN_on_white.png">
				</div>
			</div>
			<div class="four columns">
				<div class="grey-bg">
					<img src="images/IGN_on_white.png">
				</div>
			</div>
		</div>

	</section>

</article>



