<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name=description content="IGN Entertainment is the leading Internet media and services provider focused on the video game and entertainment enthusiast markets. Collectively, IGN's properties reach 57 million unique users worldwide - across online, mobile and console">
	<meta name=author content="IGN Entertainment UK">

	<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>IGN Brand Asset Site</title>

	<link rel="shortcut icon" href="favicon.ico">
	<link rel=apple-touch-icon href="apple-touch-icon.png">
	<link rel=apple-touch-icon sizes=72x72 href="apple-touch-icon-72x72.png">
	<link rel=apple-touch-icon sizes=114x114 href="apple-touch-icon-114x114.png">


	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src="javascripts/foundation/modernizr.foundation.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>

</head>
<body ng-controller="MainCtrl">

	<div id="placeholder"></div>

	<header>

	<div id="ignHeader" class="clear">
		<div class="fixed">
			<div id="ignHeader-userBar">
				<div class="container"> <a id="ignHeader-logo" href="./"></a>
				</div>
			</div>
		</div>

	</div>
<!-- 		<nav class="top-bar">
      <ul> -->
        <!-- Title Area -->
<!--         <li class="name">
          <h1>
            <a href="#">
             <img src="images/IGN_Ent_Logo.png" width="35" alt="">
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section> -->
        <!-- Left Nav Section -->
<!-- 		<ul class="left">
          <li class="divider"></li>
          <li><a class="active" id="logos">LOGOS</a></li>
          <li><a id="tips">LOGO TIPS</a></li>
          <li><a id="details">CONTACT DETAILS</a></li>
        </ul>

        
      </section>
    </nav>
 -->

		<div class="row">
			<div class="eight columns">

				<h1><span class="red">IGN</span> ENTERTAINMENT</h1>

				<h2>BRAND<br>ASSETS</h2>

				  
			</div>

			<ul class="buttons_container guidelines four columns">
				<li><a class="button" href="http://uk-microsites.ign.com/brand/images/IGN-Logo-Guidelines.pdf.zip"><span class="rotate"><span class="arrow-down">20kb</span></span><span class="text">IGN GUIDELINES</span></a></li>
				<li><a class="button" href="http://uk-microsites.ign.com/brand/images/AskMen-Guidelines.pdf.zip"><span class="rotate"><span class="arrow-down">15kb</span></span><span class="text">ASKMEN GUIDELINES</span></a></li>
			</ul>
		</div>



		<p class="question">WHICH ASSETS DO YOU NEED?</p>
		<span class="arrow_down"></span>

		<ul id="menu" class="mobile">
		    <li class="active"><a href="" ng-click="setRoute('ign')">IGN</a></li>
		    <li class="right"><a href="" ng-click="setRoute('askmen')">ASKMEN</a></li>
		  </ul>

		  <ul id="menu" class="desktop">
		    <li class="active"><a href="#_" id="ign_ank">IGN</a></li>
		    <li class="right"><a href="#_" id="askmen_ank">ASKMEN</a></li>
		  </ul>

		 <div class="clearfix"></div>

	</header>

	<!--main view-->
		<div id="view" ng-view></div>
	<!--end main view-->

	<!--section to show and reveal based on screen size-->
	<div id="desktop-logos">
	<div class="brand ign" id="ign_point">

		<!--row-->
		<div class="row">

			<div class="twelve columns">
				<div class = 'item item1 front'>
					<div class="logo_container">
						<div class="bounding-box black">
							<img src="images/logos/ign/ign_transparent/IGN_Dark_BG-opt.png" alt="IGN Dark BG"> 
						</div>

						<div class="format_container">
							<div class="font_name">IGN LOGO WITH TRANSPARENT BACKGROUND</div>

							<p>AVAILABLE FORMATS</p>
							<div class="formats">
								<a href="#" class="circle png">Png</a>
							</div>

							<div class="download_btn" data-number="8">VIEW ASSET</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!--row-->
		<div class="row">

			<div class="twelve columns">
				<div class="card">
				<div class = 'item item1 front'>
					<div class="logo_container switch">
						<div class="bounding-box white">
							<img src="images/logos/ign/ign_logo-white/IGN-Logo-for-White-BG_JPEG-opt.jpg" alt="IGN Logo For White BG">
						</div>

						<div class="format_container">
							<div class="font_name">IGN LOGO FOR WHITE BACKGROUNDS</div>

							<p>AVAILABLE FORMATS</p>
							<div class="formats">
								<a href="#" class="circle png">Png</a>
								<a href="#" class="circle epg">Jpg</a>
								<a href="#" class="circle ai">Ai</a>
								<a href="#" class="circle eps">Eps</a>
							</div>

							<div class="download_btn" data-number="7">VIEW ASSET</div>
						</div>
					</div>
				</div>

				</div>
			</div>

		</div>

		<div class="row">

			<div class="six columns">
				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/icon_logos/IGN-Ent-Logo.jpg" alt="IGN Ent Logo">
							</div>

							<div class="format_container">
								<div class="font_name">IGN ENTERTAINMENT LOGO ON A WHITE</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle png">Png</a>
                					<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="1">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>		
			</div>


			<div class="six columns">


				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/icon_logos/IGN-Editors-Choice-Logo.jpg" alt="IGN Editors Choice Logo">
							</div>

							<div class="format_container">
								<div class="font_name">IGN EDITORS CHOICE LOGO</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle png">Png</a>
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="0">VIEW ASSET</div>
							</div>
						</div>
					</div>
	<!-- 				<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box black">
								<img src="images/logos/icon_logos/IGN_First_Look_on_Black-sml.png" alt="IGN First Look On Black Sml">
							</div>

							<div class="format_container">
								<div class="font_name">IGN FIRST LOOK LOGO ON A BLACK</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle png">Png</a>
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="2">VIEW ASSET</div>
							</div>
						</div>
					</div> -->
				</div>

			</div>
		</div>
		<!-- row -->

		<!--row-->
		<!-- <div class="row">
			<div class="six columns">

				<div class="card">

					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/icon_logos/IGN-First-Look-on-White.jpg" alt="IGN First Look On White">
							</div>

							<div class="format_container">
								<div class="font_name">IGN FIRST LOOK LOGO ON A WHITE</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle png">Png</a>
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="3">VIEW ASSET</div>
							</div>
						</div>
					</div>

			    </div>
			</div>

			<div class="six columns">

				<div class="card">

					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box black">
								<img src="images/logos/icon_logos/IPL-Crest-Logo-for-Dark-BG.jpg" alt="IPL Crest Logo For Dark BG">
							</div>

							<div class="format_container">
								<div class="font_name">IPL CREST LOGO FOR DARK BACKGROUNDS</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle psd">Psd</a>
								</div>

								<div class="download_btn" data-number="4">VIEW ASSET</div>
							</div>
						</div>
					</div>

				 </div>
			</div>
		</div> -->

		<!--row-->

		<!--row-->
<!-- 		<div class="row">

			<div class="six columns">

				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box black">
								<img src="images/logos/icon_logos/IGN-Live-Logo.jpg" alt="IGN Live Logo">
							</div>

							<div class="format_container">
								<div class="font_name">IGN LIVE LOGO</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle psd">Psd</a>
								</div>

								<div class="download_btn" data-number="5">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div class="six columns">
				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box black">
								<img src="images/logos/icon_logos/IGN-Logo-for-Dark-BG-JPEG.jpg" alt="IGN Logo For Dark BG JPEG">
							</div>

							<div class="format_container">
								<div class="font_name">IGN LOGO FOR DARK BACKGROUNDS</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="6">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--row-->

		<!--row-->
<!-- 		<div class="row">

			<div class="six columns">

				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/icon_logos/IGN-Logo-for-White-BG.jpg" alt="IGN Logo For White BG">
							</div>

							<div class="format_container">
								<div class="font_name">IGN LOGO FOR WHITE BACKGROUNDS</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle png">Png</a>
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
									<a href="#" class="circle eps">Eps</a>
								</div>

								<div class="download_btn" data-number="7">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="six columns">
				<div class="card">
					<div class = 'item item1 front'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/icon_logos/IGN-Editors-Choice-Logo.jpg" alt="IGN Editors Choice Logo">
							</div>

							<div class="format_container">
								<div class="font_name">IGN EDITORS CHOICE LOGO</div>

								<p>AVAILABLE FORMATS</p>

								<div class="formats">
									<a href="#" class="circle png">Png</a>
									<a href="#" class="circle epg">Jpg</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="0">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		 </div>
 -->
<!-- 		<section class="break_open">
		<div class="row">
			<div class="eight columns">
				<h3>QUICK TIPS ON IGN LOGO USAGE</h3>
			</div>
			<ul class="buttons_container guidelines four columns grey">
				<li><a class="button"><span class="rotate"><div class="arrow-down">20kb</div></span>IGN GUIDELINES</a></li>
			</ul>
		</div>
		<div class="row push-bottom">
			<div class="six columns">
				<h4>Color</h4>
				<p>Always use the full color version of the IGN.com logo when possible.
Use the grayscale or monochromatic logo when production dictates.</p>
			</div>
			<div class="six columns">
				<img src="images/ign_color-usage.png" class="image-push">
			</div>
		</div>
		<div class="row push-bottom ">
			<div class="six columns">
				<img src="images/clear_space.png" class="image-push">
			</div>
			<div class="six columns">
				<h4>Clear Space</h4>

				<p>In order to gain maximum visibility, the IGN logo should always appear with the minimum area of clear space around the logo. This space is determined by “x”, illustrated in the diagram.</p>

<p>This area should be free of any type or graphic elements.</p>

<p>When executing online applications, where space is limited, the clear space may be reduced to 75% of “x”.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Backgrounds</h4>
				<p>The IGN logo should only be placed on neutral colored backgrounds. This will allow the brand to remain visually intact even if it is surrounded by multiple third party entities or other properties. It is also recommended to not put the logo on a red background.</p>
				<p>The logotype itself may only exist in white or black depending on the
				chosen background.</p>
			</div>
		</div>


		<div class="row">
			<div class="four columns">
				<div class="black-bg">
					<img src="images/ign_backgrounds-img.png">
				</div>
			</div>
			<div class="four columns">
				<div class="white-bg">
					<img src="images/IGN_on_white.png">
				</div>
			</div>
			<div class="four columns">
				<div class="grey-bg">
					<img src="images/IGN_on_white.png">
				</div>
			</div>
		</div>

	</section> -->

	</div>
	<!--end IGN section-->


		<div class="brand askmen" id="askmen_point">

		<!--row-->
		<div class="row">

			<div class="twelve columns">

				<div class="card">

					<div class = 'item item1'>
						<div class="logo_container">
							<div class="bounding-box black">
								<img src="images/logos/askmen/askmen_black-bg-grey-strap/AskMen on Black BG.jpg" width="200" height="52" alt="AskMen On Black BG">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN LOGO FOR BLACK BACKGROUND</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle png">Png,</a>
									<a href="#" class="circle epg">jpg,</a>
									<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="12">VIEW ASSET</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="card">
					<div class = 'item item1'>
						<div class="logo_container switch">
							<div class="bounding-box white">
								<img src="images/logos/askmen/askmen_white-strap/AskMen-for-White-BG.png" alt="AskMen For White BG">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN LOGO FOR WHITE BACKGROUNDS</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle png">Png,</a>
									<a href="#" class="circle epg">Jpg</a>
                					<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="14">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--row-->
		<div class="row">

			<div class="six columns">
				<div class="card">
					<div class = 'item item1'>
							<div class="logo_container">
								<div class="bounding-box white">
									<img src="images/logos/am_icon-logos/AM-Outline.jpg" alt="AM With Strap For White BG">
								</div>

								<div class="format_container">
									<div class="font_name">ASKMEN LOGO OUTLINE</div>

									<p>AVAILABLE FORMATS</p>
									<div class="formats">
										<a href="#" class="circle epg">AI</a>
									</div>

									<div class="download_btn" data-number="10">VIEW ASSET</div>
								</div>
							</div>
						</div>
				</div>		
			</div>


			<div class="six columns">
				<div class="card">
					<div class = 'item item1'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/am_icon-logos/AM-with-Strap-for-White-BG.jpg" alt="AM With Strap For White BG">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN LOGO WITH STRAPLINE FOR WHITE BACKGROUND</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle epg">jpg</a>
								</div>

								<div class="download_btn" data-number="11">VIEW ASSET</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- row -->

		<!--row-->
		<div class="row">
			<div class="six columns">

				<div class="card">

					<div class = 'item item1'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/am_icon-logos/AM-for-White-BG.jpg" alt="AM For White BG">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN LOGO FOR WHITE BACKGROUND</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle epg">jpg</a>
								</div>

								<div class="download_btn" data-number="9">VIEW ASSET</div>
							</div>
						</div>
					</div>

			    </div>
			</div>

			<div class="six columns">

				<div class="card">

						<div class = 'item item1'>
								<div class="logo_container">
									<div class="bounding-box black">
										<img src="images/logos/am_icon-logos/AskMen-Logo-for-Black-BG-No-Strap.jpg" width="200" height="44" alt="AskMen Logo For Black BG No Strap">
									</div>

									<div class="format_container">
										<div class="font_name">ASKMEN LOGO FOR BLACK BACKGROUNDS, NO STRAPLINE</div>

										<p>AVAILABLE FORMATS</p>
										<div class="formats">
											<a href="#" class="circle png">Png,</a>
											<a href="#" class="circle epg">Jpg,</a>
											<a href="#" class="circle ai">Ai</a>
										</div>

										<div class="download_btn" data-number="13">VIEW ASSET</div>
									</div>
								</div>
							</div>

				 </div>
			</div>

		</div>
		<!--row-->

		<!--row-->
<!-- 		<div class="row">

			<div class="six columns">

				<div class="card">

					<div class = 'item item1'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/am_icon-logos/AskMen-for-White-BG.jpg" alt="AskMen For White BG">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN LOGO FOR WHITE BACKGROUNDS</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle png">Png,</a>
									<a href="#" class="circle epg">Jpg</a>
                					<a href="#" class="circle ai">Ai</a>
								</div>

								<div class="download_btn" data-number="14">VIEW ASSET</div>
							</div>
						</div>
					</div>

				</div>

			</div>


			<div class="six columns">
				<div class="card">

					<div class = 'item item1'>
						<div class="logo_container">
							<div class="bounding-box white">
								<img src="images/logos/am_icon-logos/AskMen.com-Logo-for-White-BG-No-Strap.jpg" alt="AskMen.Com Logo For White BG No Strap">
							</div>

							<div class="format_container">
								<div class="font_name">ASKMEN.COM LOGO FOR WHITE BACKGROUND</div>

								<p>AVAILABLE FORMATS</p>
								<div class="formats">
									<a href="#" class="circle psd">Png,</a>
									<a href="#" class="circle epg">Jpg,</a>
									<a href="#" class="circle ai">Ai,</a>
									<a href="#" class="circle eps">Eps</a>
								</div>

								<div class="download_btn" data-number="15">VIEW ASSET</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div> -->

</div>

<!-- <section class="break_open">
		<div class="row">
			<div class="eight columns">
				<h3>QUICK TIPS ON ASKMEN UK LOGO USAGE</h3>
			</div>
			<ul class="buttons_container guidelines four columns grey">
				<li><a class="button"><span class="rotate"><div class="arrow-down">20kb</div></span>ASKMEN GUIDELINES</a></li>
			</ul>
		</div>
		<div class="row push-bottom">
			<div class="six columns">
				<h4>Color</h4>
				<p>Always use the full color version of the IGN.com logo when possible.
Use the grayscale or monochromatic logo when production dictates.</p>
			</div>
			<div class="six columns">
				<img src="images/AskMen_white_BG.jpg" class="image-push">
			</div>
		</div>
		<div class="row push-bottom ">
			<div class="six columns">
				<img src="images/askmen_clear_space.png" class="image-push">
			</div>
			<div class="six columns">
				<h4>Clear Space</h4>

				<p>Clear space is the minimum
					“breathing room” maintained
					around the brandmark. it
					should be kept free of graphics,
					text and other marks. it also
					defines the minimum distance
					from the brandmark to the edge
					of a printed piece / web frame.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Size of the AskMen Logo</h4>
				<p>Depending on usage, the size
					of the logo will change. The
					logo should be sized for clear
					legibility with the minimum
					amount of white space around
					it. This will often be more visually
					appealing than a logo that
					is sized too large for the space
					available, making it cluttered
					and harder to read. Let good
					taste be your guide when sizing
					the AskMen logo.</p>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h4>Backgrounds</h4>
			</div>
		</div>


		<div class="row">
			<div class="four columns">
				<img src="images/AskMen_white_BG.jpg">
			</div>
			<div class="four columns">
				<img src="images/AskMen_red_BG.jpg">
			</div>
			<div class="four columns">
				<img src="images/AskMen_black_BG.jpg">
			</div>
		</div>

	</section>
 -->

	</div>
</div>

	<footer id="contact">
		<div class="top">
			<a href="#wrapper" title="Back to top">TOP</a>
		</div>
		<div class="row">
			<!-- Row Layout for forms -->
			<div class="eight columns">
				<h3>GET IN CONTACT</h3>
			</div>
			<div class="twelve columns">
				<p>If you have any queries about using IGN or AskMen logos, quotes or review scores on your product or marketing, please contact <a href="mailto:brand@ign.com">the brand team</a> We aim to provide feedback within 24 hours.<p>
			</div>
		</div>

		<!-- start footer -->    
		<div class="ign-elements">
			<div class="row">
				<section class="six columns">
               		<p class="corp-terms">Copyright 2013 <b>IGN Entertainment UK, Inc.</b><br>
               		 <a href="http://corp.ign.com/privacy.html" title="Privacy Policy">Privacy Policy</a> | <a href="http://corp.ign.com/user-agreement.html" title="User Agreement">User Agreement</a></p>
            	</section>
	            <section class="six columns right">
	                <p class="corp-links"><a href="http://uk.corp.ign.com/#about" title="About Us">About Us</a> | <a href="http://uk.corp.ign.com/#contact" title="Contact Us">Contact Us</a> | <a href="http://corp.ign.com/feeds.html" title="RSS Feeds">RSS Feeds</a></p>
	            </section>
	          </div>
		</div>
	<!--end footer-->
	</footer>

	<div id="myModal" class="reveal-modal large white">
		 <div class="row">
	  		<div class="twelve columns">
				  <h3>IGN LOGO</h3>
				  
				  <div class="two columns"></div>
				  <div class="eight columns"><img src="" alt=""></div>
				  <div class="two columns"></div>

			</div>
		</div>

	  <div class="row">
	  		<div class="seven columns">
	  				<h5>APPROVAL AND GUIDANCE</h5>
	  				<p>IGN Entertainment’s logos are freely available on this site, but approval must be requested and granted before use on your promotional materials and product packaging.  Please email <a href="mailto:brand@ign.com">the brand team</a> with details for proposed usage. We aim to reply within 24hrs.</p>
	  		</div>
	  		<div class="five columns" id="format">
	  			<h5>FORMATS</h5>
	  			<ul class="buttons_container guidelines grey">
				</ul> 
	  		</div>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

<div id="secondModal" class="reveal-modal">
	    <h2>Thanks for doing whatever your doing</h2>
	 	<p class="lead">Still not sure how this is going to be used, but its nice to have.</p>
	    <a class="close-reveal-modal">×</a>
	 </div>



	<!-- Included JS Files (Uncompressed) -->

	<script src="javascripts/foundation/jquery.js"></script>
	
	<script src="javascripts/foundation/jquery.cookie.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.reveal.js"></script>

	<script src="javascripts/download.js"></script>
	

  <!-- Application Javascript, safe to override -->
  <script src="javascripts/foundation/app_foundation.js"></script>

    <script src="javascripts/scrollTo.js"></script>

  <script src="javascripts/app.js"></script>
  <script src="javascripts/services.js"></script>
  <script src="javascripts/controllers.js"></script>
  <script src="javascripts/filters.js"></script>
  <script src="javascripts/directives.js"></script>
  <script src="javascripts/jquery.imageloader.js"></script>


	<script src = "javascripts/jquery.easing-1.3.js"></script>

	<script src = "javascripts/transit.js"></script>
		
		<!-- iosSlider plugin -->
		<script src = "javascripts/jquery.iosslider.min.js"></script>

	 <!--begin GA script-->
 	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15279170-1']);
	  _gaq.push(['_trackPageview', 'Brand']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
	</script>
	<!--end GA script-->


	<script>

		$(document).ready(function(){
	        $.imageloader({
	            urls: ['images/logos/ign/ign_editors-choice/IGN-Editors-Choice-Logo-opt.png', 'images/logos/ign/ign_entertainment/IGN-Ent-Logo-opt.png', 'images/logos/ign/ign_logo-dark/IGN-Logo-for-Dark-BG-JPEG-opt.jpg', 'images/logos/askmen/askmen.com/AskMen.com-Logo-for-White-BG-No-Strap.png', 'images/logos/askmen/askmen_white-strap/AskMen-for-White-BG.png', 'images/logos/askmen/askmen_black-bg-no-strap/AskMen-Logo-for-Black-BG-No-Strap.png', 'images/logos/askmen/am_outline/AM-Outline.png', 'images/logos/askmen/am_no-strap/AM-for-White-BG.jpg'],
	            onComplete: function(images){
	            },
	            onUpdate: function(ratio, image){
	                // ratio: the current ratio that has been loaded
	                // image: the URL to the image that was just loaded
	            },
	            onError: function(err){
	                // err: error message if images couldn't be loaded
	            }
	        });
	    });


        $('.logo_container').on('click', function(){

          var x = $(this).find('.download_btn').attr('data-number');

            $.getJSON('http://uk-microsites.ign.com/brand/json_data/logos.json', function(data) {
            //$.getJSON('http://localhost:8888/ign-brand-guidelines-app/json_data/logos.json', function(data) {

            //console.log(data.logos[x].logoTitle);

                $('#myModal').find('h3').text(data.logos[x].logoTitle); //get title

                $('#myModal').find('img').attr('src', data.logos[x].imageFile); //get image

                //console.log('Image file --> ' + x + data.logos[x].imageFile);
                console.log('modal color --> ' + x + data.logos[x].modalColor);

                if($('#myModal').hasClass('white') ) {
                	$('#myModal').removeClass('white');

				    	$('#myModal').addClass(data.logos[x].modalColor);
                	} else {
                		$('#myModal').removeClass('black');
				    	$('#myModal').addClass(data.logos[x].modalColor);
                	}


                var formatCont = $('#myModal').find('.buttons_container'); //set format container variable

                $(formatCont).empty(); //empty format container before filling it

                $.each(data.logos, function(i, data){
                  console.log(data.formats);

                    if( i == x ) {

                      console.log(i);
                      $.each(data.formats, function(key, value){
                            console.log(key, value);
                            var div_data ="<li><a class='button' href=''><span class='rotate'><div class='arrow-down'>"+value+"</div></span>"+key+"</a></li>";
                            $(div_data).appendTo(formatCont);
                      });

                      $.each(data.url, function(key, value){
                            console.log(key, value);
                            //var div_data ="<li><a class='button' href='"+data.url_+key+"'><span class='rotate'><div class='arrow-down'>"+value+"</div></span>"+key+"</a></li>";
                            $(formatCont).find("a:contains("+ key +")").attr('href', value);
                      });

                    }

                  
                });
                
          });

            })

	</script>

		
</body>
</html>
