/** brand_styles.scss **/
/**		main styles for the ign brand guidelines app		**/
/** base style rules **/
@font-face {
  font-family: 'galaxie-light';
  src: url("fonts/GalaxiePolaris-Book.eot");
  src: local("☺"), url("../fonts/GalaxiePolaris-Book.woff") format("woff"), url("../fonts/GalaxiePolaris-Book.ttf") format("truetype"), url("../fonts/GalaxiePolaris-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-bold';
  src: url("fonts/GalaxiePolaris-Bold.eot");
  src: local("☺"), url("../fonts/GalaxiePolaris-Bold.woff") format("woff"), url("../fonts/GalaxiePolaris-Bold.ttf") format("truetype"), url("../fonts/GalaxiePolaris-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url("fonts/GalaxiePolaris-Book.eot");
  src: local("☺"), url("../fonts/GalaxiePolaris-Book.woff") format("woff"), url("../fonts/GalaxiePolaris-Book.ttf") format("truetype"), url("../fonts/GalaxiePolaris-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-medium';
  src: url("fonts/GalaxiePolaris-Medium.eot");
  src: local("☺"), url("../fonts/GalaxiePolaris-Medium.woff") format("woff"), url("../fonts/GalaxiePolaris-Medium.ttf") format("truetype"), url("../fonts/GalaxiePolaris-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 45, ../sass/brand_styles.scss */
a {
  color: #D52029;
}
/* line 48, ../sass/brand_styles.scss */
a:hover {
  color: #6E0910;
}
/* line 52, ../sass/brand_styles.scss */
a:visited {
  color: #D52029;
}

/* line 58, ../sass/brand_styles.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 63, ../sass/brand_styles.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 72, ../sass/brand_styles.scss */
.clearfix {
  *zoom: 1;
}

/* line 76, ../sass/brand_styles.scss */
.hidden {
  display: none;
}

/** end base styles**/
/* line 83, ../sass/brand_styles.scss */
html {
  height: 100%;
  background: transparent url(../images/shattered.png) repeat 0 0;
  background-attachment: fixed, fixed;
}

/* line 89, ../sass/brand_styles.scss */
body {
  background-color: transparent;
}

/* line 94, ../sass/brand_styles.scss */
#desktop-logos .row {
  margin: 30px auto;
}

/* line 100, ../sass/brand_styles.scss */
#desktop-logos .break_open .row {
  margin: 0px auto;
}

/* line 105, ../sass/brand_styles.scss */
.twelve .format_container {
  width: 27%;
}

/* line 109, ../sass/brand_styles.scss */
.twelve .bounding-box img {
  width: 70%;
}

/* line 113, ../sass/brand_styles.scss */
.six .logo_container .format_container .font_name {
  font-size: 18px;
  line-height: 25px;
}

/* line 118, ../sass/brand_styles.scss */
.logo_container {
  height: 225px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  background: white url(../images/fold_right.png) bottom right no-repeat;
  overflow: hidden;
}
/* line 133, ../sass/brand_styles.scss */
.logo_container.hover {
  cursor: pointer;
}
/* line 137, ../sass/brand_styles.scss */
.logo_container p {
  color: black;
  font-family: galaxie-bold;
  margin: 20px 5px 0px;
  padding-bottom: 0px;
  font-size: 11px;
}
/* line 146, ../sass/brand_styles.scss */
.logo_container .bounding-box {
  height: 100%;
  padding: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 154, ../sass/brand_styles.scss */
.logo_container .bounding-box.black {
  background-color: black;
}
/* line 157, ../sass/brand_styles.scss */
.logo_container .bounding-box.white {
  background-color: white;
}
/* line 161, ../sass/brand_styles.scss */
.logo_container .bounding-box img {
  width: 45%;
  float: right;
}
/* line 166, ../sass/brand_styles.scss */
.logo_container .formats {
  height: 30px;
}
/* line 171, ../sass/brand_styles.scss */
.logo_container.switch .format_container {
  right: 15px;
  border-left: 1px solid #D3D3D3;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 190, ../sass/brand_styles.scss */
.logo_container.switch img {
  float: left;
}
/* line 195, ../sass/brand_styles.scss */
.logo_container .format_container {
  width: 45%;
  z-index: 999;
  position: absolute;
  height: 100%;
  background-color: #181818;
  padding: 0px 8px;
  top: 0px;
  cursor: pointer;
  border-right: 1px solid #D3D3D3;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: linear-gradient(bottom, #eaeaea, #cacaca);
  background-image: -o-linear-gradient(bottom, #eaeaea, #cacaca);
  background-image: -moz-linear-gradient(bottom, #eaeaea, #cacaca);
  background-image: -webkit-linear-gradient(bottom, #eaeaea, #cacaca);
  background-image: -ms-linear-gradient(bottom, #eaeaea, #cacaca);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.67, #eaeaea), color-stop(0, #cacaca));
}
/* line 227, ../sass/brand_styles.scss */
.logo_container .format_container .font_name {
  font-family: galaxie-light;
  font-size: 26px;
  padding: 5px;
  text-align: left;
  line-height: 32px;
  color: black;
  height: 100px;
}

/* line 239, ../sass/brand_styles.scss */
a.circle {
  font-family: galaxie-book;
  float: left;
  display: block;
  margin: 0px 2px;
  text-align: center;
  line-height: 11px;
  font-size: 11px;
  color: black;
  text-transform: uppercase;
  padding: 5px 0px 0px 3px;
}

/* line 252, ../sass/brand_styles.scss */
.shadow_fold {
  background: #e5e5e5 url(../images/shadow_bottom.png) bottom right no-repeat;
  height: 7px;
  margin-bottom: 22px;
}

/* line 258, ../sass/brand_styles.scss */
header {
  color: white;
  padding-bottom: 10px;
  height: auto;
  border-bottom: 2px solid white;
  background: black url(../images/twinkle_twinkle.png) top left repeat;
}
/* line 267, ../sass/brand_styles.scss */
header h1 {
  font-family: galaxie-bold;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: white;
  text-shadow: 0px 0px 2px #111111;
}
/* line 275, ../sass/brand_styles.scss */
header h1 span.red {
  color: #d51d29;
}
/* line 281, ../sass/brand_styles.scss */
header h2 {
  font-family: galaxie-light;
  color: white;
  font-size: 44px;
  margin-top: 0px;
  text-shadow: 0px 0px 5px #111111;
}
/* line 289, ../sass/brand_styles.scss */
header #menu {
  list-style: none;
  margin: 0px auto;
  width: 185px;
}
/* line 294, ../sass/brand_styles.scss */
header #menu li {
  float: left;
  padding: 5px 10px;
  width: 80px;
  margin-right: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 304, ../sass/brand_styles.scss */
header #menu li:hover {
  background-color: #111111;
}
/* line 308, ../sass/brand_styles.scss */
header #menu li.right {
  float: right;
  margin-right: 0px;
}
/* line 313, ../sass/brand_styles.scss */
header #menu li a {
  color: white;
  font-family: galaxie-bold;
  font-size: 11px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
/* line 322, ../sass/brand_styles.scss */
header #menu li.active {
  background-color: #0f0f0f;
  -moz-box-shadow: inset 0 0 20px #000;
  -webkit-box-shadow: inset 0 0 20px #000;
  box-shadow: inset 0 0 20px #000;
}
/* line 331, ../sass/brand_styles.scss */
header .top-bar {
  background-color: #000000;
}

/* line 336, ../sass/brand_styles.scss */
.buttons_container.guidelines {
  float: right;
  margin-top: 50px;
}
/* line 341, ../sass/brand_styles.scss */
.buttons_container.guidelines li {
  margin-bottom: 10px;
  list-style: none;
  display: block;
  height: 40px;
}
/* line 347, ../sass/brand_styles.scss */
.buttons_container.guidelines li a {
  width: 90%;
  height: 40px;
  overflow: hidden;
  font-size: 12px;
  font-family: galaxie-medium;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ba061e;
  border: none;
  -moz-box-shadow: 0 0 10px #111111;
  -webkit-box-shadow: 0 0 10px #111111;
  box-shadow: 0 0 10px #111111;
  float: right;
  line-height: 20px;
}
/* line 364, ../sass/brand_styles.scss */
.buttons_container.guidelines li a span.text {
  display: block;
}
/* line 368, ../sass/brand_styles.scss */
.buttons_container.guidelines li a span.rotate {
  width: 30%;
  height: 80px;
  display: block;
  float: left;
  background-color: #d51d29;
  -moz-transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  margin-left: -30px;
  margin-top: -30px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px #840012;
  -webkit-box-shadow: 0 0 3px #840012;
  box-shadow: 0 0 3px #840012;
}
/* line 388, ../sass/brand_styles.scss */
.buttons_container.guidelines li a span.rotate .arrow-down {
  width: 25px;
  height: 27px;
  background: transparent url(../images/arrow_down.png) bottom center no-repeat;
  margin: 24px 0px 0px 3px;
  -moz-transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  font-size: 10px;
  text-align: center;
  display: inline-block;
}
/* line 404, ../sass/brand_styles.scss */
.buttons_container.guidelines.grey {
  margin-top: 20px;
}
/* line 407, ../sass/brand_styles.scss */
.buttons_container.guidelines.grey a {
  background-color: #4E4E4E;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 414, ../sass/brand_styles.scss */
.buttons_container.guidelines.grey a span.rotate {
  background-color: #383838;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}

/* line 426, ../sass/brand_styles.scss */
.break_open {
  height: auto;
  background-color: white;
  border-top: 1px solid #999999;
  margin: 20px 0px 0px;
}

/* line 433, ../sass/brand_styles.scss */
p.question {
  font-size: 11px;
  text-align: center;
  font-family: galaxie-medium;
  margin: 20px auto 0px;
  width: 170px;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

/* line 443, ../sass/brand_styles.scss */
span.arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
  display: block;
  margin: 0px auto 15px;
}

/* line 454, ../sass/brand_styles.scss */
h3 {
  font-family: galaxie-light;
  color: black;
  margin: 20px 0px 30px;
}

/* line 460, ../sass/brand_styles.scss */
h4, h5 {
  font-family: galaxie-light;
  margin-top: 10px;
}

/* line 465, ../sass/brand_styles.scss */
.five h5 {
  margin-left: 28px;
}

/**footer styles**/
/* line 470, ../sass/brand_styles.scss */
footer {
  height: auto;
  background: black url(../images/twinkle_twinkle.png) top left repeat;
  border-top: 2px solid white;
}

/**ios slider styles**/
/* line 478, ../sass/brand_styles.scss */
.containerOuter {
  position: absolute;
  left: 0;
  right: 0;
  height: 260px;
  overflow: hidden;
}

/* line 486, ../sass/brand_styles.scss */
.container {
  position: relative;
  width: 100%;
  height: 260px;
  margin: 0 auto;
  overflow: visible;
}

/* line 494, ../sass/brand_styles.scss */
.container .iosSliderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  margin: 0 0 0 0;
  overflow: visible;
}

/* line 504, ../sass/brand_styles.scss */
.iosSlider {
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 260px;
}

/* line 513, ../sass/brand_styles.scss */
.iosSlider .slider {
  width: 10000px;
  height: 100%;
}

/* line 518, ../sass/brand_styles.scss */
.iosSlider .slider .item {
  float: left;
  width: 300px;
  height: 100%;
  padding-right: 20px;
}
/* line 524, ../sass/brand_styles.scss */
.iosSlider .slider .item.hover {
  cursor: pointer;
}

/* line 529, ../sass/brand_styles.scss */
.holding {
  height: 330px;
}

/**download button**/
/* line 535, ../sass/brand_styles.scss */
.download_btn {
  text-align: center;
  font-size: 12px;
  text-shadow: 0px 1px 3px #000;
  font-family: galaxie-medium;
  display: block;
  width: 95%;
  margin: 0px auto 0px;
  color: #999999;
  padding: 13px 0px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(bottom, #171717 0%, #2b2b2b 100%);
  background-image: -o-linear-gradient(bottom, #171717 0%, #2b2b2b 100%);
  background-image: -moz-linear-gradient(bottom, #171717 0%, #2b2b2b 100%);
  background-image: -webkit-linear-gradient(bottom, #171717 0%, #2b2b2b 100%);
  background-image: -ms-linear-gradient(bottom, #171717 0%, #2b2b2b 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #171717), color-stop(1, #2b2b2b));
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
/* line 569, ../sass/brand_styles.scss */
.download_btn:hover {
  color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 576, ../sass/brand_styles.scss */
.download_btn:active {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

/* line 584, ../sass/brand_styles.scss */
#myModal {
  z-index: 999;
}
/* line 587, ../sass/brand_styles.scss */
#myModal .row {
  margin-top: 0px;
}
/* line 591, ../sass/brand_styles.scss */
#myModal img {
  margin: 0px auto;
  display: block;
}
/* line 596, ../sass/brand_styles.scss */
#myModal .guidelines {
  float: none;
}
/* line 600, ../sass/brand_styles.scss */
#myModal.black {
  background-color: white;
  color: white;
}
/* line 604, ../sass/brand_styles.scss */
#myModal.black h3, #myModal.black h5 {
  color: #222222;
}
/* line 610, ../sass/brand_styles.scss */
#myModal.black {
  background-color: black;
  color: white;
}
/* line 614, ../sass/brand_styles.scss */
#myModal.black h3, #myModal.black h5 {
  color: white;
}

/* line 620, ../sass/brand_styles.scss */
.reveal-modal.medium {
  width: 46%;
  margin-left: -22.5%;
}
/* line 624, ../sass/brand_styles.scss */
.reveal-modal.medium a.circle {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: none;
  float: left;
  display: block;
  margin: 0px 2px;
  text-align: center;
  line-height: 11px;
  font-size: 11px;
}
/* line 638, ../sass/brand_styles.scss */
.reveal-modal.medium a.circle.psd {
  border-size: 4px;
}
/* line 642, ../sass/brand_styles.scss */
.reveal-modal.medium a.circle.ai {
  border-size: 4px;
}
/* line 646, ../sass/brand_styles.scss */
.reveal-modal.medium a.circle.epg {
  border-size: 4px;
}

/**end download button**/
/** colours for logo background**/
/**affiliated styles**/
/* line 656, ../sass/brand_styles.scss */
.push-bottom {
  margin-bottom: 25px;
}

/* line 660, ../sass/brand_styles.scss */
.image-push {
  margin-top: 15px;
}

/* line 664, ../sass/brand_styles.scss */
.white-bg {
  background-color: white;
  padding: 15px;
  margin-bottom: 25px;
}

/* line 669, ../sass/brand_styles.scss */
.black-bg {
  background-color: black;
  padding: 15px;
  margin-bottom: 25px;
}

/* line 674, ../sass/brand_styles.scss */
.grey-bg {
  background-color: #BBBDC0;
  padding: 15px;
  margin-bottom: 25px;
}

/**end colours for logo backgrounds**/
/**inputs**/
/* line 683, ../sass/brand_styles.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background-color: black;
  font-family: inherit;
  border: 1px solid white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}

/* line 698, ../sass/brand_styles.scss */
label {
  color: white;
  font-size: 13px;
  margin: 15px 0px 10px;
}

/* line 704, ../sass/brand_styles.scss */
footer h3 {
  color: white;
}

/* line 708, ../sass/brand_styles.scss */
footer p {
  color: white;
}

/**end inputs**/
/* line 713, ../sass/brand_styles.scss */
#view {
  display: none;
}

/* line 717, ../sass/brand_styles.scss */
#menu.mobile {
  display: none;
}

/* line 721, ../sass/brand_styles.scss */
#menu.desktop {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 727, ../sass/brand_styles.scss */
  header .buttons_container.guidelines li a,
  #myModal .row .buttons_container li a {
    float: none;
    display: block;
    margin: 0 auto;
  }

  /* line 733, ../sass/brand_styles.scss */
  #myModal {
    padding: 0px;
  }
  /* line 736, ../sass/brand_styles.scss */
  #myModal h3 {
    padding: 0px 20px;
  }

  /* line 741, ../sass/brand_styles.scss */
  #myModal .seven {
    display: none;
  }

  /* line 745, ../sass/brand_styles.scss */
  #myModal p.long-form {
    display: none;
  }

  /* line 749, ../sass/brand_styles.scss */
  #desktop-logos {
    display: none;
  }

  /* line 753, ../sass/brand_styles.scss */
  #view {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  /* line 761, ../sass/brand_styles.scss */
  #desktop-logos {
    display: none;
  }

  /* line 765, ../sass/brand_styles.scss */
  #view {
    display: block;
  }

  /* line 769, ../sass/brand_styles.scss */
  .logo_container .format_container {
    display: none;
  }

  /* line 773, ../sass/brand_styles.scss */
  .logo_container .bounding-box img {
    width: 100%;
  }

  /* line 777, ../sass/brand_styles.scss */
  .reveal-modal.large {
    width: 80%;
    margin-left: -40%;
  }

  /* line 782, ../sass/brand_styles.scss */
  #menu.mobile {
    display: block;
  }

  /* line 786, ../sass/brand_styles.scss */
  #menu.desktop {
    display: none;
  }
}
/**spinning logos

.brand .four {
	-webkit-perspective: 1600px;
}

.card {
  width: 270px;
  height: 250px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;

  .item {
  	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
  }

	 .front {
	 }
	 .back {
	  -webkit-transform: rotateY( 180deg );
	}

	&.flipped {
	  -webkit-transform: rotateY( 180deg );
	}
}

end spinning logos**/
/**overlay styles**/
/* line 830, ../sass/brand_styles.scss */
.reveal-modal-bg {
  z-index: 999;
}

/* line 834, ../sass/brand_styles.scss */
#myModal {
  z-index: 9999;
}

/**end overlay styles**/
/**ign header**/
/* line 843, ../sass/brand_styles.scss */
#ignHeader .fixed {
  position: relative;
}
/* line 847, ../sass/brand_styles.scss */
#ignHeader #ignHeader-userBar {
  background-color: black;
  border-bottom: 1px solid #333;
  height: 45px;
  -moz-box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 3pxrgba 0, 0, 0, 0.6;
  box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.6);
}
/* line 858, ../sass/brand_styles.scss */
#ignHeader #ignHeader-userBar #ignHeader-logo {
  background: url(../images/ign_logo.png) no-repeat center 10px;
  height: 50px;
  width: 100%;
  display: block;
}

/**end ign header**/
/**ign footer**/
/* line 871, ../sass/brand_styles.scss */
.top {
  position: absolute;
  left: 50%;
  bottom: 80px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #000;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476,sizingMethod='auto expand');
  zoom: 1;
  z-index: 999;
}

/* line 891, ../sass/brand_styles.scss */
.top a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 70%;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  border: 0;
  text-shadow: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476,M12=0.7071067811865475,M21=-0.7071067811865475,M22=0.7071067811865476,sizingMethod='auto expand');
  zoom: 1;
}

/* line 915, ../sass/brand_styles.scss */
.ign-elements {
  background-color: black;
  border-top: 1px solid #333;
  margin-top: 40px;
  position: relative;
  width: 100%;
  bottom: 0;
  height: 105px;
  padding: 28px 0px 2px;
}
/* line 926, ../sass/brand_styles.scss */
.ign-elements p {
  color: white;
  font-size: 12px;
}
/* line 931, ../sass/brand_styles.scss */
.ign-elements a {
  color: #999;
}
/* line 935, ../sass/brand_styles.scss */
.ign-elements .row {
  background: url(../images/home-page-logos.png) no-repeat center -142px;
}

/* line 940, ../sass/brand_styles.scss */
p.corp-terms {
  display: block;
  height: 50px;
  padding: 5px 0 0 75px;
  margin: 0px;
  background: url(../images/ign_logo-sprite.png) no-repeat -7px 0px;
  text-align: left;
}

/* line 949, ../sass/brand_styles.scss */
p.corp-links {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 0 10px 0 0;
  text-align: right;
}

/**end ign footer**/
